* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center-position {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

button, input {
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 1024px;
  background-image: url(pictures/index/header__background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding-top: 217px;
}
.header__box-welcome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.header__text {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  grid-column: span 7;
}
.header__box-go {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.header__paragraph {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  grid-column: span 5;
}
.header__paragraph-dedicated {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.header__button-go {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 234px;
  height: 49px;
  margin-top: 12px;
}

.game-block {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  background: #000915;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
}
.game-block__nav-game {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  height: 268px;
  grid-column: span 4;
  padding-left: 32px;
  padding-bottom: 32px;
  background-repeat: no-repeat;
}
.game-block__game-img-1 {
  background-image: url(pictures/index/game-block__img-1.png);
}
.game-block__game-img-2 {
  background-image: url(pictures/index/game-block__img-2.png);
}
.game-block__game-img-3 {
  background-image: url(pictures/index/game-block__img-3.png);
}

.game-seasons {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  background: #000915;
  align-items: center;
  padding-bottom: 233px;
  padding-top: 233px;
}
.game-seasons__play-box {
  display: flex;
  align-items: flex-start;
  grid-column: span 6;
  flex-direction: column;
  gap: 32px;
}
.game-seasons__text {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game-seasons__paragraph {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.game-seasons__button-game {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 234px;
  height: 49px;
  margin-top: 12px;
}
.game-seasons__img {
  margin-left: 103px;
  background-image: url(pictures/game-icons/game-seasons.png);
  background-repeat: no-repeat;
  grid-column: span 6;
  height: 335px;
}

@media (max-width: 425px) {
  .center-position {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 735px;
    background-image: url(pictures/mobile/header__background.png);
    gap: 32px;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
  }
  .header__box-welcome {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .header__text {
    font-size: 32px;
    grid-column: span 4;
    text-align: center;
  }
  .header__box-go {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .header__paragraph {
    font-size: 14px;
    line-height: 22px;
    grid-column: span 4;
    text-align: center;
  }
  .header__paragraph-dedicated {
    font-size: 14px;
    line-height: 22px;
  }
  .header__button-go {
    margin-top: 1px;
  }
  .game-block {
    grid-template-columns: repeat(4, 1fr);
  }
  .game-block__game-img-1 {
    background-image: url(pictures/mobile/game-block__img-1.png);
  }
  .game-block__game-img-2 {
    background-image: url(pictures/mobile/game-block__img-2.png);
  }
  .game-block__game-img-3 {
    background-image: url(pictures/mobile/game-block__img-3.png);
  }
  .game-seasons {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    background: #000915;
    align-items: center;
    padding-bottom: 85px;
    padding-top: 51px;
  }
  .game-seasons__play-box {
    display: flex;
    align-items: center;
    grid-column: span 4;
    flex-direction: column;
    gap: 32px;
  }
  .game-seasons__text {
    font-size: 32px;
  }
  .game-seasons__paragraph {
    font-size: 14px;
    text-align: center;
  }
  .game-seasons__img {
    margin-left: 0px;
    margin-top: 64px;
    background-image: url(pictures/game-icons/game-seasons-mobile.png);
    grid-column: span 4;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */