* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center-position {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

button, input {
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 1024px;
    background-image: url(pictures/index/header__background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 32px;
    flex-direction: column;
    padding-top: 217px;

    &__box-welcome {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;

    }

    &__text {
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        grid-column: span 7;

    }

    &__box-go {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;

    }

    &__paragraph {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        grid-column: span 5;

    }

    &__paragraph-dedicated {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }

    &__button-go {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 234px;
        height: 49px;
        margin-top: 12px;
    }

}

.game-block {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    background: #000915;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 128px;

    &__nav-game {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        height: 268px;
        grid-column: span 4;
        padding-left: 32px;
        padding-bottom: 32px;
        background-repeat: no-repeat;
    }

    &__game-img-1 {
        background-image: url(pictures/index/game-block__img-1.png);
    }

    &__game-img-2 {
        background-image: url(pictures/index/game-block__img-2.png);
    }

    &__game-img-3 {
        background-image: url(pictures/index/game-block__img-3.png);
    }
}
.game-seasons {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    background: #000915;
    align-items: center;
    padding-bottom: 233px;
    padding-top: 233px;

    
    &__play-box {
        display: flex;
        align-items: flex-start;
        grid-column: span 6;
        flex-direction: column;
        gap: 32px;

    }

    &__text {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__paragraph {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
    }
    &__button-game {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 234px;
        height: 49px;
        margin-top: 12px;
    }
    &__img {
        margin-left: 103px;
        background-image: url(pictures/game-icons/game-seasons.png);
        background-repeat: no-repeat;
        grid-column: span 6;
        height: 335px;
    }

}

.game-memory {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    background: #000915;
    align-items: center;
    padding-bottom: 233px;
    padding-top: 233px;

    
    &__play-box {
        display: flex;
        align-items: flex-start;
        grid-column: span 6;
        flex-direction: column;
        gap: 32px;

    }

    &__text {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__paragraph {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
    }
    &__button-game {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 234px;
        height: 49px;
        margin-top: 12px;
    }
    &__img {
        margin-right: 103px;
        background-image: url(pictures/game-icons/game-memory.png);
        background-repeat: no-repeat;
        grid-column: span 6;
        height: 335px;
        width: 481px;
    }

}
@import 'mobile';